bin
.idea/
*.iml
*.swp
*.log
tags
*.fail.go
vendor
.DS_Store

# ginkgo test coverage
*.coverprofile

coverage.txt
coverage.out

# retool. We could check this in like a vendor
# But it is just tools that can be installed with make setup
/_tools/
