**/bin/*
!bin/.gitkeep

.vscode/
.idea/
*.iml
*.swp
*.log
tags
*.fail.go
vendor
.DS_Store
core.sqlite

# Output of the go coverage tool, specifically when used with LiteIDE
/cover.*
/cover/

.env

# retool. We could check this in like a vendor
# But it is just tools that can be installed with make setup
/_tools/

/images/chaos-dashboard/build
node_modules
yarn.lock

output/
_artifacts/

e2e-test/image/e2e/chaos-mesh
e2e-test/image/e2e/manifests/

/pkg/uiserver/embedded_assets_handler.go

/docs/swagger.*
/docs/docs.go

/images/*/bin/*
!/images/*/bin/.gitkeep

.dockerbuilt
/Dockerfile
.cache