apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: api-server-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
    paths:
    - path: /
      backend: 
        serviceName: api-server
        servicePort: 80
