
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: gcpchaos.chaos-mesh.org
spec:
  group: chaos-mesh.org
  names:
    kind: GcpChaos
    listKind: GcpChaosList
    plural: gcpchaos
    singular: gcpchaos
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: GcpChaos is the Schema for the gcpchaos API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: GcpChaosSpec is the content of the specification for a GcpChaos
            properties:
              action:
                description: 'Action defines the specific gcp chaos action. Supported action: node-stop / node-reset / disk-loss Default action: node-stop'
                enum:
                - node-stop
                - node-reset
                - disk-loss
                type: string
              deviceNames:
                description: The device name of disks to detach. Needed in disk-loss.
                items:
                  type: string
                type: array
              duration:
                description: Duration represents the duration of the chaos action.
                type: string
              instance:
                description: Instance defines the name of the instance
                type: string
              project:
                description: Project defines the name of gcp project.
                type: string
              secretName:
                description: SecretName defines the name of kubernetes secret. It is used for GCP credentials.
                type: string
              zone:
                description: Zone defines the zone of gcp project.
                type: string
            required:
            - action
            - instance
            - project
            - zone
            type: object
          status:
            description: GcpChaosStatus represents the status of a GcpChaos
            properties:
              attachedDiskStrings:
                description: The attached disk info strings. Needed in disk-loss.
                items:
                  type: string
                type: array
              conditions:
                description: Conditions represents the current global condition of the chaos
                items:
                  properties:
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              experiment:
                description: Experiment records the last experiment state.
                properties:
                  containerRecords:
                    description: Records are used to track the running status
                    items:
                      properties:
                        id:
                          type: string
                        phase:
                          type: string
                        selectorKey:
                          type: string
                      required:
                      - id
                      - phase
                      - selectorKey
                      type: object
                    type: array
                  desiredPhase:
                    enum:
                    - Run
                    - Stop
                    type: string
                type: object
            required:
            - experiment
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
