
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: awschaos.chaos-mesh.org
spec:
  group: chaos-mesh.org
  names:
    kind: AWSChaos
    listKind: AWSChaosList
    plural: awschaos
    singular: awschaos
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.action
      name: action
      type: string
    - jsonPath: .spec.duration
      name: duration
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AWSChaos is the Schema for the awschaos API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AWSChaosSpec is the content of the specification for an AWSChaos
            properties:
              action:
                description: 'Action defines the specific aws chaos action. Supported
                  action: ec2-stop / ec2-restart / detach-volume Default action: ec2-stop'
                enum:
                - ec2-stop
                - ec2-restart
                - detach-volume
                type: string
              awsRegion:
                description: AWSRegion defines the region of aws.
                type: string
              deviceName:
                description: DeviceName indicates the name of the device. Needed in
                  detach-volume.
                type: string
              duration:
                description: Duration represents the duration of the chaos action.
                type: string
              ec2Instance:
                description: Ec2Instance indicates the ID of the ec2 instance.
                type: string
              endpoint:
                description: Endpoint indicates the endpoint of the aws server. Just
                  used it in test now.
                type: string
              secretName:
                description: SecretName defines the name of kubernetes secret.
                type: string
              volumeID:
                description: EbsVolume indicates the ID of the EBS volume. Needed
                  in detach-volume.
                type: string
            required:
            - action
            - awsRegion
            - ec2Instance
            type: object
          status:
            description: AWSChaosStatus represents the status of an AWSChaos
            properties:
              conditions:
                description: Conditions represents the current global condition of
                  the chaos
                items:
                  properties:
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              experiment:
                description: Experiment records the last experiment state.
                properties:
                  containerRecords:
                    description: Records are used to track the running status
                    items:
                      properties:
                        id:
                          type: string
                        phase:
                          type: string
                        selectorKey:
                          type: string
                      required:
                      - id
                      - phase
                      - selectorKey
                      type: object
                    type: array
                  desiredPhase:
                    enum:
                    - Run
                    - Stop
                    type: string
                type: object
            required:
            - experiment
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
