
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: stresschaos.chaos-mesh.org
spec:
  group: chaos-mesh.org
  names:
    kind: StressChaos
    listKind: StressChaosList
    plural: stresschaos
    singular: stresschaos
  preserveUnknownFields: false
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: StressChaos is the Schema for the stresschaos API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: Spec defines the behavior of a time chaos experiment
          properties:
            containerName:
              description: ContainerName indicates the target container to inject
                stress in
              type: string
            duration:
              description: Duration represents the duration of the chaos action
              type: string
            mode:
              description: 'Mode defines the mode to run chaos action. Supported mode:
                one / all / fixed / fixed-percent / random-max-percent'
              type: string
            scheduler:
              description: Scheduler defines some schedule rules to control the running
                time of the chaos experiment about time.
              properties:
                cron:
                  description: "Cron defines a cron job rule. \n Some rule examples:
                    \"0 30 * * * *\" means to \"Every hour on the half hour\" \"@hourly\"
                    \     means to \"Every hour\" \"@every 1h30m\" means to \"Every
                    hour thirty\" \n More rule info: https://godoc.org/github.com/robfig/cron"
                  type: string
              required:
              - cron
              type: object
            selector:
              description: Selector is used to select pods that are used to inject
                chaos action.
              properties:
                annotationSelectors:
                  additionalProperties:
                    type: string
                  description: Map of string keys and values that can be used to select
                    objects. A selector based on annotations.
                  type: object
                expressionSelectors:
                  description: a slice of label selector expressions that can be used
                    to select objects. A list of selectors based on set-based label
                    expressions.
                  items:
                    description: A label selector requirement is a selector that contains
                      values, a key, and an operator that relates the key and values.
                    properties:
                      key:
                        description: key is the label key that the selector applies
                          to.
                        type: string
                      operator:
                        description: operator represents a key's relationship to a
                          set of values. Valid operators are In, NotIn, Exists and
                          DoesNotExist.
                        type: string
                      values:
                        description: values is an array of string values. If the operator
                          is In or NotIn, the values array must be non-empty. If the
                          operator is Exists or DoesNotExist, the values array must
                          be empty. This array is replaced during a strategic merge
                          patch.
                        items:
                          type: string
                        type: array
                    required:
                    - key
                    - operator
                    type: object
                  type: array
                fieldSelectors:
                  additionalProperties:
                    type: string
                  description: Map of string keys and values that can be used to select
                    objects. A selector based on fields.
                  type: object
                labelSelectors:
                  additionalProperties:
                    type: string
                  description: Map of string keys and values that can be used to select
                    objects. A selector based on labels.
                  type: object
                namespaces:
                  description: Namespaces is a set of namespace to which objects belong.
                  items:
                    type: string
                  type: array
                nodeSelectors:
                  additionalProperties:
                    type: string
                  description: Map of string keys and values that can be used to select
                    nodes. Selector which must match a node's labels, and objects
                    must belong to these selected nodes.
                  type: object
                nodes:
                  description: Nodes is a set of node name and objects must belong
                    to these nodes.
                  items:
                    type: string
                  type: array
                podPhaseSelectors:
                  description: 'PodPhaseSelectors is a set of condition of a pod at
                    the current time. supported value: Pending / Running / Succeeded
                    / Failed / Unknown'
                  items:
                    type: string
                  type: array
                pods:
                  additionalProperties:
                    items:
                      type: string
                    type: array
                  description: Pods is a map of string keys and a set values that
                    used to select pods. The key defines the namespace which pods
                    belong, and the each values is a set of pod names.
                  type: object
              type: object
            stressngStressors:
              description: StressngStressors defines plenty of stressors just like
                `Stressors` except that it's an experimental feature and more powerful.
                You can define stressors in `stress-ng` (see also `man stress-ng`)
                dialect, however not all of the supported stressors are well tested.
                It maybe retired in later releases. You should always use `Stressors`
                to define the stressors and use this only when you want more stressors
                unsupported by `Stressors`. When both `StressngStressors` and `Stressors`
                are defined, `StressngStressors` wins.
              type: string
            stressors:
              description: Stressors defines plenty of stressors supported to stress
                system components out. You can use one or more of them to make up
                various kinds of stresses. At least one of the stressors should be
                specified.
              properties:
                cpu:
                  description: CPUStressor stresses CPU out
                  properties:
                    load:
                      description: Load specifies P percent loading per CPU worker.
                        0 is effectively a sleep (no load) and 100 is full loading.
                      type: integer
                    options:
                      description: extend stress-ng options
                      items:
                        type: string
                      type: array
                    workers:
                      description: Workers specifies N workers to apply the stressor.
                      type: integer
                  required:
                  - workers
                  type: object
                memory:
                  description: MemoryStressor stresses virtual memory out
                  properties:
                    options:
                      description: extend stress-ng options
                      items:
                        type: string
                      type: array
                    workers:
                      description: Workers specifies N workers to apply the stressor.
                      type: integer
                  required:
                  - workers
                  type: object
              type: object
            value:
              description: Value is required when the mode is set to `FixedPodMode`
                / `FixedPercentPodMod` / `RandomMaxPercentPodMod`. If `FixedPodMode`,
                provide an integer of pods to do chaos action. If `FixedPercentPodMod`,
                provide a number from 0-100 to specify the max % of pods the server
                can do chaos action. If `RandomMaxPercentPodMod`,  provide a number
                from 0-100 to specify the % of pods to do chaos action
              type: string
          required:
          - mode
          - selector
          type: object
        status:
          description: Most recently observed status of the time chaos experiment
          properties:
            experiment:
              description: Experiment records the last experiment state.
              properties:
                duration:
                  type: string
                endTime:
                  format: date-time
                  type: string
                phase:
                  description: ExperimentPhase is the current status of chaos experiment.
                  type: string
                podRecords:
                  items:
                    description: PodStatus represents information about the status
                      of a pod in chaos experiment.
                    properties:
                      action:
                        type: string
                      hostIP:
                        type: string
                      message:
                        description: A brief CamelCase message indicating details
                          about the chaos action. e.g. "delete this pod" or "pause
                          this pod duration 5m"
                        type: string
                      name:
                        type: string
                      namespace:
                        type: string
                      podIP:
                        type: string
                    required:
                    - action
                    - hostIP
                    - name
                    - namespace
                    - podIP
                    type: object
                  type: array
                reason:
                  type: string
                startTime:
                  format: date-time
                  type: string
              type: object
            failedMessage:
              type: string
            instances:
              additionalProperties:
                description: StressInstance is an instance generates stresses
                properties:
                  startTime:
                    description: StartTime specifies when the instance starts
                    format: date-time
                    type: string
                  uid:
                    description: UID is the instance identifier
                    type: string
                type: object
              description: Instances always specifies stressing instances
              type: object
            scheduler:
              description: ScheduleStatus is the current status of chaos scheduler.
              properties:
                nextRecover:
                  description: Next time when this action will be recovered
                  format: date-time
                  type: string
                nextStart:
                  description: Next time when this action will be applied again
                  format: date-time
                  type: string
              type: object
          required:
          - experiment
          type: object
      required:
      - spec
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
