name: Check Markdown links

on:
  pull_request:
    branches:
      - master
    paths:
      - "**.md"
      - ".github/checklink_config.json"

permissions: read-all

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: "yes"
          config-file: ".github/checklink_config.json"
