# Please refer to the file comments in `ci.yml` for more information.
name: ci

on:
  pull_request:
    branches:
      - master
      - release-*

jobs:
  skip-changes:
    runs-on: ubuntu-latest
    outputs:
      go: ${{ steps.filter.outputs.go }}
      ui: ${{ steps.filter.outputs.ui }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            go:
              - Makefile
              - go.*
              - '**.go'
            ui:
              - 'ui/**'
              - '!ui/README.md'
              - '!ui/.*'
  go:
    needs: skip-changes
    if: ${{ needs.changes.outputs.go == 'false' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        job:
          - verify
          - build
          - test
    steps:
      - run: echo "Not required"
  ui:
    needs: skip-changes
    if: ${{ needs.changes.outputs.ui == 'false' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        job:
          - build
          - test
    steps:
      - run: echo "Not required"
