# Please refer to the file comments in `ci.yml` for more information.
name: ci

on:
  pull_request:
    branches:
      - master
      - release-*

permissions: read-all

jobs:
  skip-changes:
    runs-on: ubuntu-20.04
    outputs:
      go: ${{ steps.filter.outputs.go }}
      ui: ${{ steps.filter.outputs.ui }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            go:
              - Makefile
              - go.*
              - '**.go'
              - 'helm/**'
            ui:
              - 'ui/pnpm-lock.yaml'
              - '**.js'
              - '**.ts?(x)'
  go:
    needs: skip-changes
    if: ${{ needs.skip-changes.outputs.go != 'true' }}
    strategy:
      matrix:
        arch: [amd64, arm64]
        job:
          - verify
          - build
          - test
    runs-on: ubuntu-20.04
    steps:
      - run: echo "Not required to run go jobs."
  ui:
    needs: skip-changes
    if: ${{ needs.skip-changes.outputs.ui != 'true' }}
    strategy:
      matrix:
        job:
          - verify
          - build
          - test
    runs-on: ubuntu-20.04
    steps:
      - run: echo "Not required to run ui jobs."
