name: Integration Test

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - .gitignore
      - "**.md"
      - .github/ISSUE_TEMPLATE/*
      - .github/pull_request_template.md
      # Not available for frontend code for now.
      - "ui/**"
      - .github/workflows/checklink.yaml
      - .github/checklink_config.json
      - .github/workflows/ci.yml
      - .github/workflows/ci_skip.yml
      - .github/workflows/codecov_unittest.yaml
      - .github/workflows/e2e_test.yml
      - .github/workflows/e2e_test_upload_cache.yml
      - .github/workflows/license_checker.yml
      - .github/workflows/must_update_changelog.yml
      - .github/workflows/release_helm_chart.yml
      - .github/workflows/upload_env_image.yml
      - .github/workflows/upload_image.yml
      - .github/workflows/upload_image_pr.yml
      - .github/workflows/upload_latest_files.yml
      - .github/workflows/upload_release_files.yml

permissions: read-all

jobs:
  run:
    name: Integration Test
    strategy:
      matrix:
        arch: [amd64]
    runs-on: ${{ fromJson('{"amd64":"ubuntu-22.04"}')[matrix.arch] }}
    steps:
      - uses: actions/checkout@v4
        with:
          # Must use at least depth 2!
          fetch-depth: 2

      - name: Setup minikube
        uses: medyagh/setup-minikube@latest
        with:
          minikube-version: 1.35.0

      - name: Restrict access to kubeconfig # https://github.com/helm/helm/issues/9115
        run: chmod 600 ~/.kube/config

      - name: Build Chaos Mesh Build Env
        if: ${{ github.event.pull_request }}
        env:
          IMAGE_BUILD_ENV_BUILD: ${{ contains(github.event.pull_request.labels.*.name, 'rebuild-build-env-image') }}
        run: |
          if [ "${IMAGE_BUILD_ENV_BUILD}" = "true" ] ; then
            export IMAGE_BUILD_ENV_BUILD=1;
          else
            export IMAGE_BUILD_ENV_BUILD=0;
          fi

          make image-build-env

      - name: Build Chaos Mesh Dev Env
        if: ${{ github.event.pull_request }}
        env:
          IMAGE_DEV_ENV_BUILD: ${{ contains(github.event.pull_request.labels.*.name, 'rebuild-dev-env-image') }}
        run: |
          if [ "${IMAGE_DEV_ENV_BUILD}" = "true" ] ; then
            export IMAGE_DEV_ENV_BUILD=1;
          else
            export IMAGE_DEV_ENV_BUILD=0;
          fi

          make image-dev-env

      - name: Build and load Chaos Mesh images
        run: |
          make image
          minikube image load ghcr.io/chaos-mesh/chaos-mesh:latest
          minikube image load ghcr.io/chaos-mesh/chaos-daemon:latest
          minikube image load ghcr.io/chaos-mesh/chaos-dashboard:latest

      - name: Setup Helm
        uses: azure/setup-helm@v3

      - name: Install Chaos Mesh
        # Set DOCKER_API_VERSION to 1.41 to bypass https://github.com/chaos-mesh/chaos-mesh/pull/4154#issuecomment-1704442551.
        run: |
          helm install --wait --create-namespace chaos-mesh helm/chaos-mesh \
            -n=chaos-mesh --set images.tag=latest --set chaosDaemon.env.DOCKER_API_VERSION=1.41 \
            --set controllerManager.chaosdSecurityMode=false
          kubectl port-forward -n chaos-mesh svc/chaos-dashboard 2333:2333 &

      - uses: actions/setup-go@v4
        with:
          check-latest: true
          go-version-file: "go.mod"
      - name: Build chaosctl
        run: |
          make chaosctl

      - uses: actions/setup-python@v5
      - name: Install localstack && aws client
        run: |
          helm repo add localstack-repo http://helm.localstack.cloud
          helm upgrade --install localstack localstack-repo/localstack --version 0.6.14
          pip install awscli
          kubectl wait --timeout=60s --for=condition=ready --all pod

      - name: Run integration test
        run: |
          bash test/integration_test/run.sh

      - name: post run - dump kubernetes cluster info
        if: always()
        run: |
          kubectl cluster-info dump --all-namespaces --output-directory cluster-info-dump
      - name: post run - upload kubernetes cluster info dump
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-kubernetes-cluster-info-dump-${{ matrix.arch }}
          path: cluster-info-dump
          retention-days: 7
